* {
  background: black;
  color: white;
}

#keypad {
  margin: 10% 0 50% 0;
  font-size: 64px;
  color: white;
  text-align: center;
}

#code {
  border: 5px red solid;
  margin: 0 5% 0 5%;
  display: inline-table;
  position: relative;
}

#code input {
  border: none;
  padding: 3% 3% 3% 35%;
  font-size: 64px;
  background: transparent;
  width: 100px;
  height: 150px;
}

#code input:focus {
  outline: none;
}
