* {
  background: black;
  color: #e60000;
  font-family: Helvetica;
}

/* KEYCODE */
#codesubmit {
  display: none;
}

#keypad {
  margin: 25% 0 50% 0;
  text-align: center;
}

#keycode span {
  font-size: 32px;
  color: #e60000;
}

#digit {
  border: 1px #e60000 solid;
  margin: 0 2% 0 2%;
  display: inline-table;
  position: relative;
}

#digit input {
  border: none;
  /*color: transparent;*/
  text-shadow: 0 0 0 #e60000;
  padding: 3% 3% 3% 40%;
  font-size: 2em;
  background: transparent;
  width: 100px;
  height: 50px;
}

#digit input:focus {
  outline: none;
}

#codesubmit {
  display: none;
}


/* MAIN PAGE */
html, body, #logo {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#logo td {
  vertical-align: middle;
  text-align: center;
}

#invite {
  height: 100%;
  width: 50%;
  margin: 0 0 0 25%;
  padding: 0;
  border: 0;
}

#invite td {
  vertical-align: middle;
  text-align: center;
}

#regtext {
  font-size: 18px;
}

#imptext {
  font-size: 28px;
}

#date {
  margin: 10% 0 5% 0;
  font-size: 14px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #e60000;
  padding: 0 0 5% 0;
}

#time {
  font-size: 14px;
  margin: 0 0 5% 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #e60000;
  padding: 0 0 5% 0;
}

#details {
  font-size: 10px;
}
