* {
  background: black;
  color: red;
}

#keypad {
  margin: 10% 0 50% 0;
  text-align: center;
}

#keycode span {
  font-size: 32px;
  color: red;
}

#code {
  border: 1px red solid;
  margin: 0 2% 0 2%;
  display: inline-table;
  position: relative;
}

#code input {
  border: none;
  color: transparent;
  text-shadow: 0 0 0 red;
  padding: 3% 3% 3% 40%;
  font-size: 2em;
  background: transparent;
  width: 100px;
  height: 50px;
}

#code input:focus {
  outline: none;
}

html, body, #content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#content td {
  vertical-align: middle;
  text-align: center;
}

#codesubmit {
  display: none;
}
