@font-face {
  font-family: 'Trade Gothic';
  src: url('trade_gothic_lt_bold_condensed_no_20.woff');
  src: url('tradegothic_lt_boldcondtwenty.ttf');
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
}

* {
  background-image: url('../images/RAYBAN-BG.jpg');
  color: #ED1C24;
  font-family: 'Trade Gothic', sans-serif;
}

/* KEYCODE */
#codesubmit {
  display: none;
}

#keypad {
  margin: 25% 0 50% 0;
  text-align: center;
}

#keycode span {
  font-size: 32px;
  color: #ED1C24;
}

#digit {
  border: 1px #ED1C24 solid;
  margin: 0 2% 0 2%;
  display: inline-table;
  position: relative;
}

#digit input {
  border: none;
  text-shadow: 0 0 0 #ED1C24;
  padding: 3% 0 3% 0;
  font-size: 2em;
  background: transparent;
  width: 100px;
  height: 50px;
  text-align: center;
}

#digit input:focus {
  outline: none;
}

#codesubmit {
  display: none;
}


/* MAIN PAGE */

/* ACTUAL LOGO */
html, body, #logo {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#logo td {
  vertical-align: middle;
  text-align: center;
}

/* THE INVITATION DETAILS */
#invite {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

#invite td {
  vertical-align: middle;
  text-align: center;
}

#regtext {
  font-size: 16px;
}

#imptext {
  font-size: 20px;
}

#invitesection {
  padding: 0 0 3% 0;
  margin: 3% 0 0 0;
  border-bottom: 1px #ED1C24 solid;
}

#details {
  margin: 3% 0 0 0;
}

#video {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#video td {
  vertical-align: middle;
  text-align: center;
}
