@font-face {
  font-family: 'Trade Gothic';
  src: url('trade_gothic_lt_bold_condensed_no_20.woff');
  src: url('tradegothic_lt_boldcondtwenty.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  background-image: url('../images/RAYBAN-BG.jpg');
  background-size: 100%;
  color: #ED1C24;
  font-family: 'Trade Gothic', sans-serif;
  letter-spacing: .1em;
  text-transform: uppercase;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  overflow: hidden;
}

/* KEYCODE */
#codesubmit {
  display: none;
}

#keycode {
  top: 40%;
  position: absolute;
  width: 100%;
  text-align: center;
}

#keycode span {
  font-size: 20px;
  color: #ED1C24;
  margin-bottom: 5%;
}

#digit {
  border: 2px #ED1C24 solid;
  border-radius: 100%;
  margin: 0 1% 0 1%;
  display: inline-table;
  position: relative;
  width: 75px;
  height: 75px;
}

#digit input {
  border: none;
  text-shadow: 0 0 0 #ED1C24;
  font-size: 24px;
  background: transparent;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 25%;
}

#digit input:focus {
  outline: none;
}

#codesubmit {
  display: none;
}


/* MAIN PAGE */

/* ACTUAL LOGO */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

/* THE INVITATION DETAILS */
#invite {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

#invite td {
  vertical-align: middle;
  text-align: center;
}

#regtext {
  font-size: 18px;
}

#imptext {
  font-size: 24px;
}

#invitesection {
  margin: 0 0 5% 0;
}

#details {
  margin: 3% 0 0 0;
}

#video {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#video td {
  vertical-align: middle;
  text-align: center;
}

input::-webkit-input-placeholder {
color: #ED1C24 !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #ED1C24 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #ED1C24 !important;
}

input:-ms-input-placeholder {
color: #ED1C24 !important;
}

#rsvp {
  color: #ED1C24;
  font-size: 24px;
  border: 2px solid #ED1C24;
  height: 50px;
  width: 300px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

#rsvp:hover {
  -webkit-filter: opacity(.8);
  -moz-filter: opacity(.8);
  filter: opacity(.8);
}

#formsubmit {
  color: #ED1C24;
  font-size: 24px;
  border: 2px solid #ED1C24;
  height: 50px;
  width: 400px;
  padding: 1% 5% 1% 5%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

#formsubmit:hover {
  -webkit-filter: opacity(.8);
  -moz-filter: opacity(.8);
  filter: opacity(.8);
}

button:focus {
  outline: 0;
}

#rsvpmessage {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

#rsvpmessage td {
  vertical-align: middle;
  text-align: center;
}

#name {
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-bottom: 1px #ED1C24 solid;
  margin-left:1px;
  margin-bottom: 75px;
  padding: 5px;
  font-size: 24px;
  width: 600px;
  background: transparent;
  text-align: center;
}

#name:focus {
  outline: none;
  text-align: center;
}

:placeholder-shown {
  opacity: 0.5;
}

#rewatch {
  color: #ED1C24;
  font-size: 18px;
  border: 2px solid #ED1C24;
  height: 50px;
  width: 300px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

#rewatch:hover {
  -webkit-filter: opacity(.8);
  -moz-filter: opacity(.8);
  filter: opacity(.8);
}

#thankyou {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  padding: 0;
  border: 0;
  font-size: 36px;
}

#thankyou td {
  padding-top: 15%;
  vertical-align: middle;
  text-align: center;
}

#thankyou span {
  margin-left: 5px;
}





/* MOBILE VIEW */

@media only screen and (max-width: 700px) {
  #name {
    width: 300px;
    font-size: 18px;
  }

  #formsubmit {
    width: 250px;
    font-size: 24px;
  }

  #thankyou {
    height: 100%;
    width: 75%;
    margin: 0 auto;
    padding: 0;
    border: 0;
  }

  #thankyou td {
    vertical-align: middle;
    text-align: center;
  }

  #thanks {
    font-size: 48px !important;
  }

  #regtext {
    font-size: 14px;
  }

  #imptext {
    font-size: 18px;
  }

  #clicktowatch {
    margin: 0 0 15px 0;
  }


  #mobilewatch {
    color: #ED1C24;
    font-size: 24px;
    border-bottom: 1px solid #ED1C24;
    width: 300px;
    margin: 5% 0 20% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  }

  #mobilewatch:hover {
    -webkit-filter: opacity(.8);
    -moz-filter: opacity(.8);
    filter: opacity(.8);
  }

  #video video{
    margin: 50% 0 0 0;
  }
}



/* SOCIAL MEDIA ICONS */

/*.icon {
  height: 16px;
  width: 16px;
  background: #ED1C24;
  fill: #ED1C24;
}

.icon-container a {
  text-decoration: none;
  background: transparent;
}

#social {
  position: relative;
  background: transparent;
  display: inline-block;
}

.icon-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: transparent;
}

.icon-container2 {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: transparent;
}

.icon-container2 a {
  text-decoration: none;
  background: transparent;
}*/
